name: Generate Snake

# Request write permission for repository contents
permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Meghana-N-Gowda
          outputs: dist/snake.svg

      - name: Commit generated file
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist/snake.svg"
          message: "chore: update snake animation"
