name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Meghana-N-Gowda
          outputs: dist/github-contribution-grid-snake.svg

      - name: Commit files
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate snake animation"
          add: "dist/github-contribution-grid-snake.svg"
